{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mb-3">
                <h2>Зарегистрироваться</h2>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark rounded-pill px-3">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}